body {
  font-family: "Open Sans", sans-serif;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#root {
  background-color: #cfcfcf;
  height: 100%;
  min-height: 100vh;
}

.spinner {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}
